<header id="header" class="" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="logo_inner">
        <img src="/ui/img/common/logo_1.jpg" alt="">
    </div>
    <nav>
        <ul class="gnb">
            <li>
                <a href="void(0);" onclick="alert('준비중입니다.');return false;">소개</a>
            </li>
            <li>
                <a href="/">의료기기 검색</a>
            </li>
            <li>
                <a class="menu_active" href="/expert/list">전문가 검색</a>
            </li>
            <li>
                <a href="void(0);" onclick="alert('준비중입니다.');return false;">프로젝트</a>
            </li>
            <li>
                <a href="void(0);" onclick="alert('준비중입니다.');return false;">알림</a>
            </li>
            <li>
                <a href="void(0);" onclick="alert('준비중입니다.');return false;">사이트맵</a>
            </li>
        </ul>
        <a class="login" href="void(0);" onclick="alert('준비중입니다.');return false;">로그인</a>
    </nav>
</header>