<div class="pagination_area" xmlns:th="http://www.thymeleaf.org" th:fragment="pagingbody(list, link, formId)">
    <div class="pagenation" th:with="start=${T(Math).floor(list.number/10)*10 + 1}, last=(${start + 4 < list.totalPages ? start + 4 : (list.totalPages == 0 ? 1 : list.totalPages)})">
        <a class="prev_btn" href="javascript:;" th:onclick="'fnPage('+${!list.first ? list.number : list.number + 1}+')'" ></a>
        <th:block th:each="page: ${#numbers.sequence(start, last)}">
            <a href="javascript:;" th:class="${page == (list.number + 1)} ? 'active'" th:text="${page}" th:onclick="'fnPage('+${page}+')'"></a>
        </th:block>
        <a class="next_btn" href="javascript:;" th:onclick="'fnPage('+${(!list.last ? list.number + 2 : list.number + 1)}+')'"></a>
    </div>

    <script type="text/javascript" th:inline="javascript">
        /* <![CDATA[ */
        function fnPage(page) {
            let link = /*[[ ${link} ]]*/;
            let formId = /*[[ ${formId} ]]*/;

            if (page) {
                link = link +'?page='+page;
            }

            var frm = $('#'+formId);
            frm.prop('action', link);
            frm.submit();
        }
        /* ]]> */
    </script>
</div>