<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한강</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
    

<div id="wrap" class="sub">
    <div id="container">
        <header id="header" class="">
           <div class="logo_inner">
               <img src="/img/common/logo_1.jpg" alt="">
           </div>
           <nav>
               <ul class="gnb">
                   <li>
                       <a href="#none">소개</a>
                   </li>
                   <li>
                        <a href="#none">의료기기 검색</a>
                    </li>
                    <li>
                        <a class="menu_active" href="#none">전문가 검색</a>
                    </li>
                    <li>
                        <a href="#none">프로젝트</a>
                    </li>
                    <li>
                        <a href="#none">알림</a>
                    </li>
                    <li>
                        <a href="#none">사이트맵</a>
                    </li>
               </ul>
               <a class="login" href="#none">로그인</a>
           </nav>
        </header>
        <div class="top_tit_inner">
            <span class="top_tit inner">전문가 상세</span>
        </div>
        <div class="layout_sub inner">
            
            <div class="board_search_list">
                <div class="page_cont">
                    <div class="search_inner search_3_inner">
                        <ul class="search_items search_2">
                            <li>
                                <div>
                                    <input type="checkbox" name="chk_1" id="chk_item1">
                                    <label for="chk_item1"></label>
                                    <span>임상</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <input type="checkbox" name="chk_1" id="chk_item2">
                                    <label for="chk_item2"></label>
                                    <span>기업</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <input type="checkbox" name="chk_1" id="chk_item3">
                                    <label for="chk_item3"></label>
                                    <span>전문가</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="board_list type_03">
                        <div class="type_03_inner">
                            <div class="type_03_img">
                                <img src="/img/contents/detail.png" alt="">
                            </div>
                            <div class="type_03_desc">
                                <ul>
                                    <li>
                                        <div><span>이름</span></div>
                                        <div><b>홍길동</b></div>
                                    </li>
                                    <li class="type_03_detail">
                                        <div><span>진료병과</span></div>
                                        <div>
                                            <b>내과전체</b><b>마취과</b>
                                        </div>
                                    </li>
                                    <li>
                                        <div><span>직위</span></div>
                                        <div><b>원장</b></div>
                                    </li>
                                    <li>
                                        <div><span>병원명</span></div>
                                        <div><b>잘하는 내과</b></div>
                                    <li>
                                        <div><span>홈페이지</span></div>
                                        <div></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="desc">
                            <h4>상세정보</h4>
                            <div class="info">
                                <div>
                                    <span>전문진료분야</span>
                                    <p>
                                        Quodsi haberent magnalia inter potentiam et divitias, et non illam quidem haex eo spectant haec quoque vos omnino desit illud quo solo felicitatis libertatisque perficiuntur.
                                    </p>
                                    <span>관심분야</span>
                                    <p>
                                        Quodsi haberent magnalia inter potentiam et divitias, et non illam quidem haex eo spectant haec quoque vos omnino desit illud quo solo felicitatis libertatisque perficiuntur.
                                    </p>
                                    <span>관심의료기기분야</span>
                                    <span>임상대상환자보유</span>
                                    <span>SCI논문명</span>
                                    <span>보유특허명</span>
                                    <span>소속학회</span>
                                    <span>의료분야 관심키워드</span>
                                </div>
                            </div>
                        </div>
                        <span class="">컨설팅을 원하시는 분은 재단으로 연락바랍니다.</span>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <footer>
            <div class="footer_inner inner">
                <div class="footer_logo">
                    <img src="/img/common/logo_2.jpg" alt="">
                </div>
                <div class="footer_info">
                    <p>
                        <span>서울 서초구 강남대로39길 6-17 (서초동, 우영빌딩) 우영빌딩 2층</span>
                        <span>TEL. (02)6347-5000  |  FAX. (02)6347-5102</span>
                        <span>Copyright ⓒ MEDIF All rights reserved.</span>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</div>



</body>
</html>