<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한강</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
    

<div id="wrap" class="sub">
    <div id="container">
        <header id="header" class="">
           <div class="logo_inner">
               <img src="/img/common/logo_1.jpg" alt="">
           </div>
           <nav>
               <ul class="gnb">
                   <li>
                       <a href="#none">소개</a>
                   </li>
                   <li>
                        <a href="#none">의료기기 검색</a>
                    </li>
                    <li>
                        <a class="menu_active" href="#none">전문가 검색</a>
                    </li>
                    <li>
                        <a href="#none">프로젝트</a>
                    </li>
                    <li>
                        <a href="#none">알림</a>
                    </li>
                    <li>
                        <a href="#none">사이트맵</a>
                    </li>
               </ul>
               <a class="login" href="#none">로그인</a>
           </nav>
        </header>
        <div class="top_tit_inner">
            <span class="top_tit inner">전문가 검색</span>
        </div>
        <div class="layout_sub inner">
            <div class="board_search_list">
                <div class="page_cont">
                    <div class="board_top_search">
                        <div class="search_select">
                            <select name="" id="">
                                <option value="">전체</option>
                                <option value="">임상</option>
                                <option value="">기업</option>
                                <option value="">전문가</option>
                            </select>
                        </div>
                        <input type="search" placeholder="무엇을 찾고 싶으신가요?">
                        <button class="bg_btn1">검색</button>
                    </div>
                    <div class="list_items">
                        <span>등록된 전문가는 909 명 입니다.</span>
                    </div>
                    <div class="board_list type_02">
                        <div class="type_02_inner">
                            <div class="type_02_item">
                                <div class="type_02_img">
                                    <img src="/img/contents/info_01.png" alt="">
                                </div>
                                <div class="type_02_desc">
                                    <small>임상의</small>
                                    <div>
                                        <span>홍길동</span>
                                        <p>
                                            가나다 대학병원<b></b>(내과)가정의학과
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="type_02_item">
                                <div class="type_02_img">
                                    <img src="/img/contents/info_02.png" alt="">
                                </div>
                                <div class="type_02_desc">
                                    <small>임상의</small>
                                    <div>
                                        <span>홍길동</span>
                                        <p>
                                            가나다 대학병원<b></b>(내과)가정의학과
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="type_02_item">
                                <div class="type_02_img">
                                    <img src="/img/contents/info_04.png" alt="">
                                </div>
                                <div class="type_02_desc">
                                    <small>임상의</small>
                                    <div>
                                        <span>홍길동</span>
                                        <p>
                                            가나다 대학병원<b></b>(내과)가정의학과
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="type_02_inner">
                            <div class="type_02_item">
                                <div class="type_02_img">
                                    <img src="/img/contents/info_05.png" alt="">
                                </div>
                                <div class="type_02_desc">
                                    <small>임상의</small>
                                    <div>
                                        <span>홍길동</span>
                                        <p>
                                            가나다 대학병원<b></b>(내과)가정의학과
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="type_02_item">
                                <div class="type_02_img">
                                    <img src="/img/contents/info_06.png" alt="">
                                </div>
                                <div class="type_02_desc">
                                    <small>임상의</small>
                                    <div>
                                        <span>홍길동</span>
                                        <p>
                                            가나다 대학병원<b></b>(내과)가정의학과
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="type_02_item">
                                <div class="type_02_img">
                                    <img src="/img/contents/info_07.png" alt="">
                                </div>
                                <div class="type_02_desc">
                                    <small>임상의</small>
                                    <div>
                                        <span>홍길동</span>
                                        <p>
                                            가나다 대학병원<b></b>(내과)가정의학과
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="type_02_inner">
                            <div class="type_02_item">
                                <div class="type_02_img">
                                    <img src="/img/contents/info_03.png" alt="">
                                </div>
                                <div class="type_02_desc">
                                    <small>임상의</small>
                                    <div>
                                        <span>홍길동</span>
                                        <p>
                                            가나다 대학병원<b></b>(내과)가정의학과
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="type_02_item">
                                <div class="type_02_img">
                                    <img src="/img/contents/info_08.png" alt="">
                                </div>
                                <div class="type_02_desc">
                                    <small>임상의</small>
                                    <div>
                                        <span>홍길동</span>
                                        <p>
                                            가나다 대학병원<b></b>(내과)가정의학과
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="type_02_item">
                                <div class="type_02_img">
                                    <img src="/img/contents/info_09.png" alt="">
                                </div>
                                <div class="type_02_desc">
                                    <small>임상의</small>
                                    <div>
                                        <span>홍길동</span>
                                        <p>
                                            가나다 대학병원<b></b>(내과)가정의학과
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn_more_inner">
                            <a class="btn_more" href="#none">더보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <footer>
            <div class="footer_inner inner">
                <div class="footer_logo">
                    <img src="/img/common/logo_2.jpg" alt="">
                </div>
                <div class="footer_info">
                    <p>
                        <span>서울 서초구 강남대로39길 6-17 (서초동, 우영빌딩) 우영빌딩 2층</span>
                        <span>TEL. (02)6347-5000  |  FAX. (02)6347-5102</span>
                        <span>Copyright ⓒ MEDIF All rights reserved.</span>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</div>



</body>
</html>